<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compréhension des Normes Sociales</title>

</head>
<body>
    <ul>
        <li class = "menu-container">
            <a routerLink="/dashboard"> FR 🇫🇷</a>
            <div class="menu">
                <a routerLink="/home-page-eng" > EN 🇺🇸 </a>
                <a routerLink="/home-page-esp"> ES 🇵🇪 </a>
            </div>
        </li>
    </ul>

    <h1>Choice : Compréhension des Normes Sociales</h1>
    <div class="container-wrapper">
        <div class="container">
            <h2>Contexte</h2>
            <p>
                Nous sommes constamment amenés à suivre des règles sociales subtiles et implicites dans nos décisions quotidiennes. Ces règles dépendent de nombreux paramètres, tels que l'âge, le genre, et bien d'autres encore. Les comprendre et les respecter est néanmoins essentiel pour qu'un individu soit accepté au sein de la société.
            </p>
            <p>
                Ainsi, extraire des données et des connaissances sur ces normes sociales du quotidien pourrait offrir une compréhension computationnelle précieuse des interactions humaines et jouer un rôle crucial dans l’acceptation des agents artificiels.
            </p>
            <p>
                Nous abordons donc une question spécifique mais fondamentale : comment comprendre et prédire la manière de réaliser des répartitions socialement acceptables des principaux moteurs des comportements sociaux humains, à savoir la <strong>récompense</strong>, l’<strong>effort</strong> et le <strong>risque</strong> ?
            </p>
            <p>
                Dans un premier travail, nous avons cherché à développer un agent artificiel capable d’effectuer des répartitions socialement acceptables de ces trois dimensions – considérées séparément – entre des dyades d’individus humains ou de robots.
            </p>
            <p>
                Pour cela, un jeu a été conçu (<a href="https://ethicallychoice.alwaysdata.net/" target="_blank">ethicallychoice.alwaysdata.net</a>) permettant de collecter des données et de former un modèle prédictif des décisions.
            </p>
            <p>
                Dans cette étude, nous souhaitons aller plus loin en explorant comment concevoir un agent capable de gérer des combinaisons de ces dimensions – par exemple, risque et effort ; risque et récompense ; ou encore récompense et effort.
            </p>
        </div>
        <div class="container">
            <h2>Détails du jeu</h2>
            <p>
                Vous aurez à explorer différents scénarios répartis en trois catégories :<strong> risque - récompense, effort - risque et risque - récompense.</strong> Dans chaque scénario, vous devrez attribuer une certaine quantité de ces mesures (effort, risque ou récompense) entre deux personnages.

Les personnages peuvent être de profils variés : homme, femme, enfant, jeune fille, personne âgée ou robot. Votre rôle sera donc de répartir ces mesures en fonction des caractéristiques de chacun.

            </p>
            <p>
                Dans un premier temps, vous devrez définir la force des personnages, sur une échelle de 0 à 10, où 0 représente la plus faible capacité et 10 la plus élevée. Par exemple, vous pourriez attribuer une force de 10 au robot et de 3 à une personne âgée.

Une fois cette étape terminée, les scénarios s'afficheront avec une paire de personnages générée aléatoirement. Votre mission sera alors d’attribuer les mesures en fonction de la situation et des forces définies.
            </p>
            <p>
                À vous de jouer et de faire les meilleurs choix ! 🚀

            </p>
            <a routerLink="/img-text" class="btn">Démarrer le jeu</a>
        </div>
    </div>
</body>
</html>

