<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compréhension des Normes Sociales</title>

</head>
<body>

    <ul>
        <li class = "menu-container">
            <a routerLink="/dashboard"> EN 🇺🇸 </a>
            <div class="menu">
                <a routerLink="/home-page" > FR 🇫🇷 </a>
                <a routerLink="/home-page-esp"> ES 🇵🇪 </a>
            </div>
        </li>
    </ul>

    <h1>Choice : Understanding Social Norms  </h1>
    <div class="container-wrapper">
        <div class="container">
            <h2>Context</h2>
            <p>
                We are constantly required to follow subtle and implicit social rules in our daily decisions. These rules depend on numerous factors, such as age, gender, and many others. Understanding and respecting them is essential for an individual to be accepted within society.
            </p>
            <p>
                Thus, extracting data and insights on these everyday social norms could provide a valuable computational understanding of human interactions and play a crucial role in the acceptance of artificial agents.            </p>
            <p>
                We therefore address a specific yet fundamental question: how can we understand and predict the socially acceptable ways of distributing the key drivers of human social behavior, namely <strong>reward</strong>, <strong>effort</strong> and <strong>risk</strong> ?
            </p>
            <p>
                In an initial study, we aimed to develop an artificial agent capable of making socially acceptable distributions of these three dimensions—considered separately—between dyads of human individuals or robots            </p>
            <p>
                To achieve this, a game was designed(<a href="https://ethicallychoice.alwaysdata.net/" target="_blank">ethicallychoice.alwaysdata.net</a>) allowing us to collect data and train a predictive model of decision-making.
            </p>
            <p>
                In this study, we seek to go further by exploring how to design an agent capable of handling combinations of these dimensions—for example, risk and effort; risk and reward; or even reward and effort.            </p>
        </div>
        <div class="container">
            <h2>Game Details
            </h2>
            <p>
                You will explore different scenarios divided into three categories: <strong> risk - reward, effort - risk, and risk - reward.</strong> In each scenario, you will have to allocate a certain quantity of these measures (effort, risk, or reward) between two characters.

                The characters can have diverse profiles: man, woman, child, young girl, elderly person, or robot. Your role will be to distribute these measures based on each character’s characteristics.
            </p>
            <p>
                First, you will need to define the characters’ strength on a scale from 0 to 10, where 0 represents the weakest capacity and 10 the highest. For example, you could assign a strength of 10 to a robot and 3 to an elderly person.
                Once this step is completed, the scenarios will be displayed with a randomly generated pair of characters. Your mission will be to allocate the measures according to the situation and the defined strengths.            </p>
            <p>
                Now it's your turn to play and make the best choices! 🚀

            </p>
            <a routerLink="/img-text" class="btn">Start the game</a>
        </div>
    </div>
</body>
</html>

