<!DOCTYPE html>
<html lang="fr">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Compréhension des Normes Sociales</title>

</head>
<body>
    <ul>
        <li class = "menu-container">
            <a routerLink="/dashboard"> ES 🇵🇪</a>
            <div class="menu">
                <a routerLink="/home-page-eng" >  FR 🇫🇷</a>
                <a routerLink="/home-page"> EN 🇺🇸  </a>
            </div>
        </li>
    </ul>

<h1>Choice: Comprensión de las Normas Sociales</h1>
<div class="container-wrapper">
    <div class="container">
        <h2>Contexto</h2>
        <p>
            Constantemente seguimos reglas sociales sutiles e implícitas en nuestras decisiones diarias. Estas reglas dependen de numerosos factores, como la edad, el género y muchos otros. Sin embargo, comprenderlas y respetarlas es esencial para que un individuo sea aceptado en la sociedad.
        </p>
        <p>
            Así, extraer datos y conocimientos sobre estas normas sociales cotidianas podría ofrecer una comprensión computacional valiosa de las interacciones humanas y desempeñar un papel crucial en la aceptación de los agentes artificiales.
        </p>
        <p>
            Por lo tanto, abordamos una cuestión específica pero fundamental: ¿cómo entender y predecir la forma de realizar distribuciones socialmente aceptables de los principales impulsores del comportamiento social humano, a saber, la <strong>recompensa</strong>, el <strong>esfuerzo</strong> y el <strong>riesgo</strong>?
        </p>
        <p>
            En un primer trabajo, buscamos desarrollar un agente artificial capaz de realizar distribuciones socialmente aceptables de estas tres dimensiones – consideradas por separado – entre díadas de individuos humanos o robots.
        </p>
        <p>
            Para ello, se diseñó un juego (<a href="https://ethicallychoice.alwaysdata.net/" target="_blank">ethicallychoice.alwaysdata.net</a>) que permite recopilar datos y entrenar un modelo predictivo de decisiones.
        </p>
        <p>
            En este estudio, queremos ir más allá explorando cómo diseñar un agente capaz de gestionar combinaciones de estas dimensiones – por ejemplo, riesgo y esfuerzo; riesgo y recompensa; o incluso recompensa y esfuerzo.
        </p>
    </div>
    <div class="container">
        <h2>Detalles del juego</h2>
        <p>
            Explorarás diferentes escenarios divididos en tres categorías: <strong>riesgo - recompensa, esfuerzo - riesgo y riesgo - recompensa.</strong> En cada escenario, deberás asignar una cierta cantidad de estas medidas (esfuerzo, riesgo o recompensa) entre dos personajes.
        </p>
        <p>
            Los personajes pueden tener perfiles variados: hombre, mujer, niño, joven, persona mayor o robot. Tu papel será distribuir estas medidas según las características de cada uno.
        </p>
        <p>
            Primero, deberás definir la fuerza de los personajes en una escala de 0 a 10, donde 0 representa la menor capacidad y 10 la más alta. Por ejemplo, podrías asignar una fuerza de 10 a un robot y de 3 a una persona mayor.
        </p>
        <p>
            Una vez completado este paso, los escenarios se mostrarán con una pareja de personajes generada aleatoriamente. Tu misión será asignar las medidas en función de la situación y las fuerzas definidas.
        </p>
        <p>
            ¡Es tu turno de jugar y tomar las mejores decisiones! 🚀
        </p>
        <a routerLink="/img-text" class="btn">Iniciar el juego</a>
    </div>
</div>
</body>
